In [1]:
import pandas as pd

# IMPORTANT: Replace 'import_data_2017_2025.csv' with the actual name of your raw file.
file_path = "../data/raw/sample_data.csv"

# Assuming CSV format. Use pd.read_excel() if your file is .xlsx.
df = pd.read_csv(file_path)

print(f"Dataframe loaded with {len(df)} rows and {len(df.columns)} columns.")

Dataframe loaded with 2079 rows and 20 columns.

In [2]:
# 1. Preview the first 5 rows
print("--- Data Head ---")
print(df.head())

# 2. Check data types and identify missing values (Nulls)
print("\n--- Data Info (Types & Nulls) ---")
df.info()

# 3. Check summary statistics for numerical consistency (outliers, negatives)
print("\n--- Numerical Summary ---")
print(df.describe())

--- Data Head ---
  PORT CODE        DATE        IEC   HS CODE  \
0    INNSA1  2025-10-28  301049751  73239990
1    INNSA1  2025-10-28  301049751  73231000
2    INNSA1  2025-10-23  301049751  73239990
3    INNSA1  2025-10-13  301049751  73239990
4    INNSA1  2025-10-13  301049751  73239990

                                   GOODS DESCRIPTION  Master category  \
0  TH5170 STEEL CUTLERY HOLDER (QTY:600 PCS/USD 2...              NaN
1  8001-2 STEEL SCRUBBER 2PCS SET (QTY: 336000 SE...              NaN
2  MILD STEEL MULTI FUNCTION CLOTH STAND (RYX-02-...              NaN
3  SB-12 STEEL TEA STRAINER BIG (QTY 6336 PCS/USD...              NaN
4  SB-12 STEEL TEA STRAINER BIG (QTY 43038 PCS/US...              NaN

   Model Name  Model Number  Capacity  Qty  Unit of measure  Price  \
0         NaN           NaN       NaN  NaN              NaN    NaN
1         NaN           NaN       NaN  NaN              NaN    NaN
2         NaN           NaN       NaN  NaN              NaN    NaN
3         NaN           NaN       NaN  NaN              NaN    NaN
4         NaN           NaN       NaN  NaN              NaN    NaN

   Unit of measure.1  QUANTITY UNIT  UNIT PRICE_INR  TOTAL VALUE_INR  \
0                NaN     290.0  KGS      401.725310        116500.34
1                NaN    9800.0  KGS      440.602218       4317901.74
2                NaN    4004.0  KGS      408.893664       1637210.23
3                NaN    1548.8  KGS      378.457845        586155.51
4                NaN   10042.2  KGS      399.739675       4014265.76

   UNIT PRICE_USD  TOTAL VALUE_USD  DUTY PAID_INR
0        4.529034      1313.419842        32736.6
1        4.967331     48679.839230      1898149.5
2        4.609850     18457.837990       460056.0
3        4.219151      6534.621070       164709.7
4        4.456407     44752.126640      1128008.7

--- Data Info (Types & Nulls) ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2079 entries, 0 to 2078
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PORT CODE          2079 non-null   object
 1   DATE               2079 non-null   object
 2   IEC                2079 non-null   int64
 3   HS CODE            2079 non-null   int64
 4   GOODS DESCRIPTION  2079 non-null   object
 5   Master category    0 non-null      float64
 6   Model Name         0 non-null      float64
 7   Model Number       0 non-null      float64
 8   Capacity           0 non-null      float64
 9   Qty                0 non-null      float64
 10  Unit of measure    0 non-null      float64
 11  Price              0 non-null      float64
 12  Unit of measure.1  0 non-null      float64
 13  QUANTITY           2079 non-null   float64
 14  UNIT               2079 non-null   object
 15  UNIT PRICE_INR     2079 non-null   float64
 16  TOTAL VALUE_INR    2079 non-null   float64
 17  UNIT PRICE_USD     2079 non-null   float64
 18  TOTAL VALUE_USD    2079 non-null   float64
 19  DUTY PAID_INR      2079 non-null   float64
dtypes: float64(14), int64(2), object(4)
memory usage: 325.0+ KB

--- Numerical Summary ---
               IEC       HS CODE  Master category  Model Name  Model Number  \
count       2079.0  2.079000e+03              0.0         0.0           0.0
mean   301049751.0  7.323924e+07              NaN         NaN           NaN
std            0.0  2.482623e+03              NaN         NaN           NaN
min    301049751.0  7.323100e+07              NaN         NaN           NaN
25%    301049751.0  7.323999e+07              NaN         NaN           NaN
50%    301049751.0  7.323999e+07              NaN         NaN           NaN
75%    301049751.0  7.323999e+07              NaN         NaN           NaN
max    301049751.0  7.323999e+07              NaN         NaN           NaN

       Capacity  Qty  Unit of measure  Price  Unit of measure.1  \
count       0.0  0.0              0.0    0.0                0.0
mean        NaN  NaN              NaN    NaN                NaN
std         NaN  NaN              NaN    NaN                NaN
min         NaN  NaN              NaN    NaN                NaN
25%         NaN  NaN              NaN    NaN                NaN
50%         NaN  NaN              NaN    NaN                NaN
75%         NaN  NaN              NaN    NaN                NaN
max         NaN  NaN              NaN    NaN                NaN

            QUANTITY  UNIT PRICE_INR  TOTAL VALUE_INR  UNIT PRICE_USD  \
count    2079.000000     2079.000000     2.079000e+03     2079.000000
mean    10751.360948      399.147062     2.017286e+06        5.075401
std     27953.145285      236.599113     1.694160e+06        3.039812
min         7.700000        4.712749     1.882250e+03        0.067812
25%      2245.000000      237.966650     7.717038e+05        2.997668
50%      4900.000000      435.243386     1.648069e+06        5.499288
75%      9510.400000      536.308613     2.838890e+06        6.763704
max    319248.000000     3708.390000     1.329217e+07       53.243216

       TOTAL VALUE_USD  DUTY PAID_INR
count      2079.000000   2.079000e+03
mean      25862.111099   6.878388e+05
std       21202.510929   6.223662e+05
min          26.196938   0.000000e+00
25%       10351.823665   2.092378e+05
50%       21390.736830   5.411963e+05
75%       36720.527875   9.742361e+05
max      159569.833700   4.870250e+06

In [3]:
print(df.columns.tolist())

['PORT CODE', 'DATE', 'IEC', 'HS CODE', 'GOODS DESCRIPTION', 'Master category', 'Model Name', 'Model Number', 'Capacity', 'Qty', 'Unit of measure', 'Price', 'Unit of measure.1', 'QUANTITY', 'UNIT', 'UNIT PRICE_INR', 'TOTAL VALUE_INR', 'UNIT PRICE_USD', 'TOTAL VALUE_USD', 'DUTY PAID_INR']

In [4]:
DATE_COL = 'DATE'
print("\n--- DATE Examples ---")
print(df[DATE_COL].sample(5).tolist())
# Note the exact format (e.g., DD/MM/YYYY)

--- DATE Examples ---
['2023-10-28', '2025-01-17', '2025-01-25', '2017-07-20', '2023-07-29']

In [5]:
DESCRIPTION_COL = 'GOODS DESCRIPTION'

print("\n--- GOODS DESCRIPTION Patterns (20 Samples) ---")
# Use random_state for reproducible sampling
for desc in df[DESCRIPTION_COL].sample(20, random_state=42).tolist():
    print(f"- {desc}")

--- GOODS DESCRIPTION Patterns (20 Samples) ---
- STEEL TEA STRAINER BIG SB-12 (QTY 456 PCS)
- STEEL SCRUBBER 3PCS SET-ANGW11 (TOTAL NET WT.7152 KGS)(MILD STEEL) (DPD CLIENT)
- SS SCRUBBER 3PCS SET (SS410) (QTY: 113640 SET/USD: 0.173 PERSET)
- AM-321 STEEL DRAINER (QTY:21648 PCS/USD 0.702 PER PCS) AM-321 STEEL DRAINER (QTY:21648 PCS/USD 0.702 PER PCS)
- STAINLESS STEEL SPORTS BOTTLE 750ML S-308-C6 (NP-20) (QTY: 15792 NOS/ USD 0.976 PER NOS)
- STEEL LUNCH BOX 3LAYER (8505) (QTY:33,600 PCS/USD:3.63 PER PCS)
- HOUSEHOLD STEEL HOOK 3 PCS SET (3888) (QTY:206928 SET/USD:0.255 PER SET)HOUSEHOLD STEEL HOOK 3 PCS SET (3888) (QTY:206928 SET/USD:0.
- STAINLESS STEEL SPORTS BOTTLE 700ML S119-136 (AM-315) (QTY:720 PCS /USD 1.275 PER PCS)
- SB-01 STAINLESS STEEL SPORTS BOTTLE 750ML SG-702 (QTY :26328PCS/USD 1.0450 PER PCS)
- SB-12 STEEL TEA STRAINER BIG (QTY:44226 PCS/USD 0.975 PER PCS)SB-12 STEEL TEA STRAINER BIG (QTY:44226 PCS/USD 0.975 PER PC
- TEA LIGHT CANDLE HOLDER -MP-289 (MADE OF IRON) (TOTAL NET WT .1918.80KGS)
- STAINLESS STEEL SPORTS BOTTLE 650ML S115 -NP-21(TOTAL 14400PCS)(NOT VACUUM BOTTLE)(MILD STEEL)
- STEEL RECTANGLE CONTAINER- 6901(MILD STEEL) (TOTAL 3000 PCS) -
- RYX-08010D MILD STEEL MULTI FUNCTION CLOTH STAND (QTY :510 NUM/CNY 62.00 PER NUM)
- HOUSEHOLD STEEL HOOK 3PCS SET (3888) (QTY:3168 SET/USD 0.265PER SET)
- STAINLESS STEEL COLA BOTTLE 750ML SK750-SL-01(TOTAL NET WT. 905.58 KGS)(MILD STEEL)
- STEEL SCRUBBER 2PCS SET (8001-2) (QTY: 168960 SET/USD 0.151PER SET)
- MILD STEEL MULTI FUNCTION CLOTH STAND - RYX-02-020 (QTY : 2464 NUM/ USD 13.80 PER NUM)
- NP-20 STAINLESS STEEL SPORTS BOTTLE 750ML S-308-C6 (QTY: 50544 NUM/USD 1.0065 PER NUM)
- STEEL WALL HANGER HOOK -SL-89 (TOTAL NET WT. 1274.40KGS) (MILD STEEL)

In [6]:
UNIT_COL = 'UNIT'

print("\n--- Top 15 Unit Variations ---")
print(df[UNIT_COL].value_counts().head(15))

--- Top 15 Unit Variations ---
UNIT
KGS     1434
PCS      392
KG       128
KGS       82
SET       34
NOS        9
Name: count, dtype: int64